In [3]:
def NTo1(n):
    if n > 0:
        print(n)
        NTo1(n-1)

In [4]:
NTo1(4)

4
3
2
1

In [7]:
def OneToN(n):
    diff = 0
    if n > 0:
        for i in range(1, (n+1)):
            print(1+diff)
            diff = diff + 1

In [8]:
OneToN(12)

1
2
3
4
5
6
7
8
9
10
11
12

In [9]:
def OneToN2(n):
    if n == 0:
        return 0
    else:
        print(OneToN2(n-1))
        print(n)

In [10]:
OneToN2(12)

0
1
None
2
None
3
None
4
None
5
None
6
None
7
None
8
None
9
None
10
None
11
None
12

In [1]:
def fun(n, k):
    if n == 0:
        return 0
    else:
        print(k)
        fun(n-1, k+1)

In [2]:
fun(12, 13)

13
14
15
16
17
18
19
20
21
22
23
24

In [5]:
def fact(n, k):
    if n == 0 or n == 1:
        return k
    else:
        return(fact(n-1, k*n))

In [6]:
# initially pass k = 1
fact(5, 1)

120